<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2001</string>
		<key>symptom</key>
		<string>1901</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,10,B,100,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,150,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2002</string>
		<key>symptom</key>
		<string>1902</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,20,B,150,i,10,12,r,1,60;</string>
			<string>2,90,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,150,i,18,23,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2013</string>
		<key>symptom</key>
		<string>1913</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,60,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,5,B,50,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,50,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2013</string>
		<key>symptom</key>
		<string>1913</string>
		<key>placement</key>
		<string>2p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,60,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,5,B,50,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,50,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2003</string>
		<key>symptom</key>
		<string>1903</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,60,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,5,B,150,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,5,B,100,i,13,23,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2008</string>
		<key>symptom</key>
		<string>1908</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,20,B,150,i,18,23,r,1,60;</string>
			<string>2,90,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2008</string>
		<key>symptom</key>
		<string>1908</string>
		<key>placement</key>
		<string>2p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,20,B,150,i,18,23,r,1,60;</string>
			<string>2,90,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2009</string>
		<key>symptom</key>
		<string>1909</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,10,B,150,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2009</string>
		<key>symptom</key>
		<string>1909</string>
		<key>placement</key>
		<string>2p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,10,B,150,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2010</string>
		<key>symptom</key>
		<string>1910</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,20,B,150,i,18,23,r,1,60;</string>
			<string>2,90,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2010</string>
		<key>symptom</key>
		<string>1910</string>
		<key>placement</key>
		<string>2p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,90,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,20,B,150,i,18,23,r,1,60;</string>
			<string>2,90,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,100,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2011</string>
		<key>symptom</key>
		<string>1911</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,60,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,5,B,50,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,50,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>version</key>
		<string>1.1</string>
		<key>position</key>
		<string>2012</string>
		<key>symptom</key>
		<string>1912</string>
		<key>placement</key>
		<string>1p</string>
		<key>collect_feedback_period</key>
		<string>5</string>
		<key>feedback_list</key>
		<string>F,50000,2</string>
		<key>parameters_list</key>
		<array>
			<string>0,60,B,40,s,0.3,0.3,0,0,0;</string>
			<string>1,5,B,50,i,1,2,r,1,60;</string>
			<string>2,60,B,30,s,0.5,0.5,0,0,0;</string>
			<string>3,10,B,50,i,10,12,r,1,60;</string>
		</array>
		<key>warning</key>
		<string></string>
		<key>preparation</key>
		<string></string>
		<key>provider_id</key>
		<string>0x0</string>
		<key>device_type</key>
		<string>pad</string>
		<key>service_id</key>
		<string>25x108</string>
		<key>charge_type</key>
		<string>1</string>
	</dict>
</array>
</plist>
