<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>颈部</string>
		<key>id</key>
		<string>2001</string>
		<key>image</key>
		<string>neck</string>
		<key>indications</key>
		<string>脖子酸痛、僵硬，落枕</string>
		<key>proposal</key>
		<string>使用前用湿热毛巾擦拭颈部皮肤，每天累积使用3-4小时</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肩部</string>
		<key>id</key>
		<string>2002</string>
		<key>image</key>
		<string>shoulder</string>
		<key>indications</key>
		<string>肩周炎、肩膀关节痛</string>
		<key>proposal</key>
		<string>避免过度劳累，每天累积使用4小时，有助于缓解疼痛</string>
	</dict>
	<dict>
		<key>name</key>
		<string>手臂</string>
		<key>id</key>
		<string>2013</string>
		<key>image</key>
		<string>arm</string>
		<key>indications</key>
		<string>胳膊酸痛、网球肘</string>
		<key>proposal</key>
		<string>避免提重物，每天使用1-2小时，坚持使用几天后会有改善</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肘部</string>
		<key>id</key>
		<string>2003</string>
		<key>image</key>
		<string>elbow</string>
		<key>indications</key>
		<string>网球肘、肘关节疼痛</string>
		<key>proposal</key>
		<string>减少肘部劳损，每天使用1-2小时，使用3天后会有改善</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腰背部</string>
		<key>id</key>
		<string>2008</string>
		<key>image</key>
		<string>lowerback</string>
		<key>indications</key>
		<string>酸痛、僵硬，腰肌劳损</string>
		<key>proposal</key>
		<string>每天使用2小时以上，3天左右会改善；重度症状建议及时就医</string>
	</dict>
	<dict>
		<key>name</key>
		<string>腿部</string>
		<key>id</key>
		<string>2009</string>
		<key>image</key>
		<string>legs</string>
		<key>indications</key>
		<string>腿痛、发软、坐骨神经痛</string>
		<key>proposal</key>
		<string>每天累积使用4小时，坚持使用一段时间</string>
	</dict>
	<dict>
		<key>name</key>
		<string>膝关节</string>
		<key>id</key>
		<string>2010</string>
		<key>image</key>
		<string>knee</string>
		<key>indications</key>
		<string>膝关节炎、行走困难</string>
		<key>proposal</key>
		<string>尽量少运动，每天累积使用4小时，有助于缓解疼痛</string>
	</dict>
	<dict>
		<key>name</key>
		<string>踝关节</string>
		<key>id</key>
		<string>2011</string>
		<key>image</key>
		<string>ankle</string>
		<key>indications</key>
		<string>腱鞘炎、关节胀痛、扭伤</string>
		<key>proposal</key>
		<string>少行走多休息，每天使用1-2小时，连续使用7-10天</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脚</string>
		<key>id</key>
		<string>2012</string>
		<key>image</key>
		<string>foot</string>
		<key>indications</key>
		<string>脚底痛、脚踝痛</string>
		<key>proposal</key>
		<string>少运动，每天使用1-2小时，连续使用7-10天</string>
	</dict>
</array>
</plist>
